<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @secretary.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @secretary.phone %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @secretary.doctor.name %>
</p>

<%= link_to 'Edit', edit_secretary_path(@secretary) %> |
<%= link_to 'Back', secretaries_path %>
